---
layout: archive
title: "CV"
permalink: /cv/
author_profile: true
redirect_from:
  - /resume
  - /cv.md

---

{% include base_path %}

<html lang="en">
<head>
    <meta charset="UTF-8"> 
    <meta  name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV</title>
</head>

</head>
<body>
    <section>
        <h2>Specializations and Research Interests</h2>
        <ul>
            <li>Socio-technological systems & system complexity.</li>
            <li>Multimodal studies on technological production.</li>
            <li>Models of concurrency & Agent-based modelling.</li>
            <li>Machine learning methods for classification of non-ortogonal objects.</li>
        </ul>
    </section>


    <section>
        <h2>Employment and Research Positions</h2>
        <ul>
			<li><strong>2023 - Present:</strong> Postdoctoral  Researcher, Leiden Institute of Advanced Computer Science, Leiden University (The Netherlands).</li>
			<li><strong>2019 - 2023:</strong> Postdoctoral Researcher, Faculty of Mechanical, Maritime and Materials Engineering (3mE), TU Delft (Netherlands).</li>
			<li><strong>2018 - 2019:</strong> Associate Researcher of Anthropology, Department of Anthropology, University of Pittsburgh (United States).</li>
			<li><strong>2018 - 2018:</strong> Heritage Resources Leader, Sustainable Development Division, Ecopetrol S.A. (Colombia).</li>
			<li><strong>2017 - 2018:</strong> Archaeology Data Lab Coordinator, Geocol S.A. (Colombia).</li>
			<li><strong>2016 - 2016:</strong> Heritage Advisor, Sogamoso municipality (Colombia).</li>
            <li><strong>2015 - 2015:</strong> Researcher, Instituto Colombiano de Antropología e Historia (Colombia)</li>
			<li><strong>2008 - 2010:</strong> Archaeologist, Estudios Técnicos S.A. (Colombia).</li>
		</ul>
    </section>


    <section>
        <h2>Education</h2>
        <ul>
			<li><strong>2016</strong> PhD Archaeology, University of Pittsburgh.</li>
			<li><strong>2009</strong> MSc Archaeology, Universidad Nacional de Colombia.</li>
			<li><strong>2006</strong> BA Anthropology, Universidad Nacional de Colombia.</li>
		</ul>
    </section>



    <section>
        <h2>Supervision and Teaching</h2>
        {% include_relative teaching_main.html %}
    </section>


    <section>
        <h2>Research</h2>
        <p><strong>Current projects and collaborations:</strong></p>
        <ul>
            <li>Settlement patterns and populations estimates northern South America. With Pedro Argüello (Universidad Pedagógica y Tecnológica de Colombia) and Juan Carlos Vargas, Universidad del Magdalena.</li>
            <li>Management and remote sensing automated analysis of pre-Columbian heritage in South America. With Marco Madella, Jonas Gregorio de Souza (Universitat Pompeu Fabra); Eduardo Goes Neves, André Menezes Strauss (University of São Paulo); Luiz Eduardo Oliveira e Cruz de Aragão (National Institute for Space Research, Brazil); Hector Orengo (Catalan Institute of Classical Archaeology); Fernando Montejo and Carlos Reina (ICANH); and Juan Carlos Vargas (Universidad del Magdalena) </li>
            <li>Machine learning architectures for identification and classification of spatial non-ortogonal objects using remote sensing. With Roderik Lindenbergh (TU Delft); Naomi Oosterman (Erasmus University Rotterdam); Frank Takes and Alex Geurds (Leiden University).</li>
            <li>Modelling and Computational Network Science in Ancient systems. With Frank Takes, Jetty Kleijn, Dominika Czerniawska, and Marie Soressi (Leiden University); Geeske Langejans and Paul Kozowyk (TU Delft).</li>
            <li>Ethnobiology Zambia. With George Mudenda, Terry Nyambe (National Museum board); Tinde van Andel (Naturalis Biodiversity Centre); and Martha Nchimunya Kayuni (Max Planck Institute of Geoanthropology).</li>
        </ul>
    </section>


    <section>
        <h2>Grants and Fellowships (€1.97M Secured)</h2>
        <ul>
            <li>2024 Automatically identification of potential archaeological areas of influence using vegetation patterns. Third party mission data grant, co-PI with Sina Mohammadi, European Space Agency (€18441).</li>
            <li>2023 Identification of irregular archaeological features in northern South America forests using remote sensing methods. LDE grant, PI, Leiden-Delft-Erasmus Universities (€25000).</li>
			<li>2022 Mapping Pre-Columbian Heritage in South America (MAPHSA) project, Preserving Endangered Culture Grant, co-PI with Prof. Marco Madella, Arcadia Foundation (Leiden: €427177, total grant: €1836000).</li>
            <li>2014 Social Science Doctoral Dissertation Fellowship, fellowship awardee, University of Pittsburgh (€17000).</li>
            <li>2014 Research Incentive Grant, PI, Instituto Colombiano de Antropología e Historia (€5700).</li>
            <li>2013 National Science Foundation Dissertation Research Grant, co-PI with Prof. Robert Drennan, National Science Foundation (€18333).</li>
            <li>2012 Andrew Mellon Pre-doctoral Fellowship, fellowship awardee, University of Pittsburgh (€17000).</li>
            <li>2012 Field Research Grant, Center of Latin American Studies, PI, University of Pittsburgh (€1641).</li>
            <li>2010 Heinz Graduate Fellowship in Latin American Archaeology, fellowship awardee, University of Pittsburgh (€47000).</li>
            <li>2006 National University of Colombia Master's Degree Research Grant, PI, Universidad Nacional de Colombia (€5700).</li>
        </ul>
    </section>

    <section>
        <h2>Skills</h2>
        <p><strong>Technical skills:</strong></p>
        <ul>
            <li>Deep learning using Tensorflow, Pytorch, and Keras.</li>
            <li>Machine learning using Scikit-learn.</li>
			<li>Point-cloud processing using pdal.</li>
            <li>Programming in Python and Matlab.</li>
            <li>Statistical analyses and visualization in Python, R, Matlab, SPSS, and SYSTAT.</li>
            <li>Geospatial analysis and visualization in ArcGIS, IDRISI and Autocad Map.</li>
            <li>Complex system modelling and process mining with Petri nets with CPN Tools, Snoopy Software, and ProM 6.10.</li>
            <li>Network analysis and visualization in GEPHI, UCINET, and NETDRAW.</li>
            <li>Agent-based simulation modelling in NetLogo and Python.</li>
			<li>GPR, Magnetometer, Sonar, and 4-band imagery data processing, analysis and visualization.</li>
        </ul>

        <p><strong>Languages:</strong></p>
        <ul>
            <li>Spanish (Native).</li>
            <li>English (Fluent).</li>
            <li>Dutch(NT2-II diploma, B2+ level).</li>
        </ul>
    </section>

    <section>
        <h2>Professional and Scientific Activities</h2>
        <p><strong>Reviewer</strong></p>
        <ul>
            <li>Reviewer for Iscience (United States).</li>
            <li>Reviewer for PLOS One (United States).</li>
            <li>Reviewer for Computer Applications and Quantitative Methods in Archaeology Conference (United Kingdom).</li>
            <li>Reviewer for Revista Colombiana de Antropología (Colombia).</li>
            <li>Reviewer for Revista Colombiana de Arqueología (Colombia).</li>
            <li>Reviewer for Boletín de Antropología Universidad de Antioquia (Colombia).</li>
            <li>Reviewer for Revista intersecciones en Antropología (Argentina).</li>
			<li>Reviewer for Journal of Archaeological Method and Theory.</li>
	        <li>Secretary for Latin America and the Caribbean Chapter of Computer Applications and Quantitative Methods in Archaeology Organization.</li>
        </ul>
		
		<p><strong>Memberships</strong></p>
		<ul>
            <li>European Society for the study of Human Evolution (ESHE).</li>
            <li>Computer Applications and Quantitative Methods in Archaeology (CAA).</li>
            <li>Society of Africanist Archaeologists(Safa).</li>
			<li>Society of American Archaeology (SAA).</li>
        </ul>

        <p><strong>Organization of scientific meetings</strong></p>
		<ul>
            <li>2025 - present  Organization committee member for the International Computer Applications in Archaeology organisation in Chile, 2027.</li>
            <li>2025	Workshop co-organizer with César Ardila.The digital afterlife of archaeology:  Ethics, management, and practice. Leiden University and Instituto Colombiano de Antropología e Historia, Bogotá, Colombia.</li>
			<li>2024    Session co-organizer with Eduardo Herrera, Daniel Sánchez. Computational Approaches in Latin American Archaeology. Colombian Archaeological Congress, Santa Marta, Colombia.</li>
            <li>2021    Session co-organizer with Iza Romanowska, Colin D. Wren, Stefani A. Crabtree. Computational modelling in archaeology: methods, challenges and applications. Digital Crossroads,  48th conference of CAA international, Limassol, Cyprus (Online event).</li>
            <li>2007    Session co-organizer with Manuel Salge. Orthodoxies and heterodoxies: Power relations and social change in the Muisca area. XII Congress of Anthropology in Colombia, Bogotá D.C., Colombia</li>
        </ul>


    </section>

    <section>
            <h2>Publications</h2>
            {% include_relative publications_main.html %}
    </section>
    
    <section>
            <h2>Cultural Resource Management Projects</h2>
            {% include_relative Cultural_Resource_Management.html %}
    </section>
            
            
</body>

</html>





